EJIAYOU_BASE_URL=https://pre.ejiayou.com
EJIAYOU_PLATFORM_NAME=your_platform_name
EJIAYOU_BEFORE_KEY=your_before_key
EJIAYOU_AFTER_KEY=your_after_key
EJIAYOU_PAGE_SIZE=100
EJIAYOU_STATION_PAGES_PATH_TEMPLATE=/oreo/ejiayou_open_api/stations/v2/getStationPages/{currentPage}/{pageSize}/{platformName}/{sign}/{timestamp}
